Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [ ]:
a = "VSMalik"        # answer1

In [ ]:
a

'VSMalik'

In [8]:
b = [1,2,3,"abc",34,45.56,3 + 4j]

In [9]:
b

[1, 2, 3, 'abc', 34, 45.56, (3+4j)]

In [10]:
c = 34.45678

In [11]:
c

34.45678

In [13]:
d = (1,2,3,"abc",34,45.56,3 + 4j)

In [14]:
d

(1, 2, 3, 'abc', 34, 45.56, (3+4j))

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [26]:
var1 = ""                                       #answer 2
var2 = "[DS, ML, Python]"
var3 = ['DS', 'ML', 'Python']
var4 = 1

In [22]:
type(var1)

str

In [23]:
type(var2)

str

In [24]:
type(var3)

list

In [25]:
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [31]:
a = 3                 #answer3
b = 2
c = a/b
print(c)

1.5

In [28]:
d = 5
e = 2
f = d%e
print(f)

1

In [29]:
g = 7
h = 4
i = g//h
print(i)

1

In [ ]:
j = 4
k = 3
l = j**k
print(l)

64

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [36]:
l = [1, 23, 34, 4.345, True, 3+4j, 0, "vsmalik", -2, -24]                #answer4
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
23
<class 'int'>
34
<class 'int'>
4.345
<class 'float'>
True
<class 'bool'>
(3+4j)
<class 'complex'>
0
<class 'int'>
vsmalik
<class 'str'>
-2
<class 'int'>
-24
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [10]:
A = int(input())           #answer5
B = int(input())
if A%B == 0:
    print('Purely Divisible')
else:
    print('Not Divisible')

 8
 2

Purely Divisible

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [9]:
l = [ 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]           # answer6
for i in l:
    
    i += 1
    if i%3 == 0:
        print(i)
        print("The number is divisible by 3")
    else:
        print(i)
        print("Not divisible")

1
Not divisible
2
Not divisible
3
The number is divisible by 3
4
Not divisible
5
Not divisible
6
The number is divisible by 3
7
Not divisible
8
Not divisible
9
The number is divisible by 3
10
Not divisible
11
Not divisible
12
The number is divisible by 3
13
Not divisible
14
Not divisible
15
The number is divisible by 3
16
Not divisible
17
Not divisible
18
The number is divisible by 3
19
Not divisible
20
Not divisible
21
The number is divisible by 3
22
Not divisible
23
Not divisible
24
The number is divisible by 3
25
Not divisible

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [8]:
l = [1,2,3,4]          #answer7
l.append(5)
l

[1, 2, 3, 4, 5]

In [6]:
j = 'vsmalik'

In [7]:
j.append(1)

AttributeError: 'str' object has no attribute 'append'